<%- include("./partials/header.ejs")%>
	<!-- full-site -->
	<section id="full-site">
		<%- include("./sections/menu-section.ejs")%>
		<%- include("./sections/main-section.ejs", { head: [], body: [], checker: "" }) %>
	</section>
<%- include("./partials/footer.ejs")%>
