<%- include("./partials/header.ejs")%>

	<div id="bg"></div>
	<div id="dimmed-bg"></div>

	<section id="landing">
		<h1>Welcome</h1>
		<h2>Sales Management App</h2>
		<p>Enter App.</p>
		<div id="divBtns">
			<a href="/sales/home"><button type="button" class="btn">Enter</button></a>
		</div>
	</section>
	
<%- include("./partials/footer.ejs")%>
