	<div class="clear"></div>
	<!-- <script src="https://unpkg.com/simplebar@5.1.0/dist/simplebar.min.js"></script> -->
	<script type="text/javascript" src="../../javascripts/simplebar.min.js"></script>
	<script type="text/javascript" src="../../javascripts/all.js"></script>
	<script type="text/javascript" src="../../javascripts/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="../../javascripts/index.js"></script>
</body>
</html>